@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}

body {
    background-image: linear-gradient(to right, #983FCC, #5F2880);
}

main {
    background-color: white;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.623);
    border-radius: 10px;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #301440;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.459);
}

h2 {
    color: #692B8C;
}

p {
    text-align: justify;
}

